{% extends "_layout.html" %}

{% block body %}
<h1 class="title">Apply</h1>
<h3 class="subtitle">Ocean Jobs Visualisations</h3>
<p class="description">A place to export your data visualisations and host as a web service. Currently just a basic progress tracker</p>

{% include '_nav.html' %}

<button class='table__save' type="button">Save</button>
<table class="table" style="width:100%">
  <tr class="table_row">
    <th>Register Interested</th>
    <th>URL</th>
    <th>Company-Recruiter</th>
    <th>Description</th>
    <th>Salary</th>
    <th>Job_Type</th>
  </tr>
  
</table>
{% endblock %}

{% block css %}
<style>

body {
  overflow: initial;
}

.table {
  width: 100%;
  padding: 0 10px;
}

.table__row {
  border: 2px solid black;
  display: inline-block;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

.table__label {
}

.table__input {
  border: 2px solid black;
  float: right;
  max-width: 66%;
  width: 100%;
}

.table__save {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
}

</style>
{% endblock %}

{% block js %}
<script type="text/javascript">

fetch('{{ url_for('data.searchresults') }}')
.then((resp) => resp.json())
.then(function(data){
  const table = document.getElementsByClassName("table")[0];
  for (let x in data) {
    let row = `<tr>
        <td><select name="interest" id="interest">
        <option value="None">--</option>
        <option value="Apply">Apply</option>
        <option value="Reject">Reject</option>
        </select></td>
        <td>${data[x]['URL']}</td>
        <td>${data[x]['Company-Recruiter']}</td>
        <td>${data[x]['Description']}</td>
        <td>${data[x]['Salary']}</td>
        <td>${data[x]['Job_Type']}</td>
      </tr>`
    table.insertAdjacentHTML('beforeend', row)
  }
})
.catch(function(error){
  alert(error);
})

const save = document.getElementsByClassName('table__save')[0];
save.onclick = function() {
  alert('Send POST request');
}
</script>
{% endblock %}