{% extends "_layout.html" %}

{% block body %}
<h1 class="title">Search</h1>
<h3 class="subtitle">Ocean Jobs Visualisations</h3>
<p class="description">Use the search form to find jobs that interest you.</p>

{% include '_nav.html' %}

<form class="form" method="POST" action="{{ url_for('data.search') }}">
  <div class="form__row">
    <label class="form__label" for="role">Role*:</label>
    <input class="form__input" type="text" id="role" name="role" required>
  </div>
  <div class="form__row">
    <label class="form__label" for="role">Seniority:</label>
    <input class="form__input" type="text" id="seniority" name="seniority">
  </div>
  <div class="form__row">
    <label class="form__label" for="company">Company:</label>
    <input class="form__input" type="text" id="company" name="company">
  </div>
  <div class="form__row">
    <label class="form__label" for="company">Salary:</label>
    <input class="form__input" type="text" id="company" name="company">
  </div>
  <div class="form__row">
    <label class="form__label" for="w3review">Keywords:</label>
    <textarea class="form__input" id="keywords" name="keywords" rows="4" cols="50">Java; Python;</textarea>
  </div>
  <div class="form__row">
    <p>Include:</p>
    <label for="vehicle1">Full time:</label>
    <input type="checkbox" id="schedule" name="schedule" value="true">
    <br />
    <label for="vehicle1">Part time:</label>
    <input type="checkbox" id="schedule" name="schedule" value="true">
    <br />
    <label for="vehicle1">Contract:</label>
    <input type="checkbox" id="schedule" name="schedule" value="true">
    <br />
    <label for="vehicle1">Permanant:</label>
    <input type="checkbox" id="schedule" name="schedule" value="true">
  </div>
  <div class="form__row">
    <label for="vehicle1">Schedule daily checks:</label>
    <input type="checkbox" id="schedule" name="schedule" value="true">
  </div>
  <div>
    <input class="form__submit" type="submit" value="Submit">
  </div>
</form>

{% endblock %}

{% block css %}
<style>

.form {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
}

.form__row {
  border: 2px solid black;
  display: inline-block;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

.form__label {
}

.form__input {
  border: 2px solid black;
  float: right;
  max-width: 66%;
  width: 100%;
}

.form__submit {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
}


</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
let form = document.getElementsByClassName('.form')[0];
form.onsubmit = function() {
  alert('Searching')
  return true;
}
</script>
{% endblock %}