{% extends "_layout.html" %}

{% block body %}
<h1>TotalJobs</h1>
<h3>Ocean Jobs Visualisations</h3>

{% include '_nav.html' %}

<div id="results"></div>

{% endblock %}

{% block css %}
<style>

h1, h2, h3, h4, h5, h6, p {
	text-align: center;
}

/* Update table border */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* Center align table labels */
table > thead > tr {
  text-align: center !important;
}

/* Hide row numbers */
tr > th:nth-of-type(1) {
  display: none;
}

tr > td:nth-of-type(1) {
  max-width: 200px;
}

</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}